<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<div class="loading" id="loading">Processing...</div>

<body>
<div class="container">

<header>
    <div class="logo">StudyBuddy</div>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</header>

{% block content %}{% endblock %}

</div>
</body>
</html>
